PUBLIC_SITE_ORIGIN=https://mauainoah.github.io
PUBLIC_BASE_PATH=/timemau-website
PUBLIC_RELEASE_STATUS=prelaunch
PUBLIC_EARLY_ACCESS_MODE=disabled
PUBLIC_EARLY_ACCESS_EMAIL=
PUBLIC_EARLY_ACCESS_ENDPOINT=
PUBLIC_NOINDEX=false
PUBLIC_ACCESS_GATE_ENABLED=true
PUBLIC_ACCESS_GATE_DIGEST=
